@import "tailwindcss";

@theme{
    --color-*: initial;
    --color-blue-roayal: #003D9B;
    --color-blue-dark: #1D4ED8;
    --color-blue-light: #DBEAFE;
    --color-yellow-mustard: #FACC15;
    --color-yellow-dark: #A16207;
    --color-yellow-light: #FEF9C3;
    --color-green-dark: #047857;
    --color-green: #10B981;
    --color-green-light: #D1FAE5;
    --color-red-light: #FEE2E2;
    --color-red-dark: #B91C1C;
    --color-midnight: #111827;
    --color-gray: #3E434B;
    --color-zinc: #CFD1D5;
    --color-zinc-light: #efefef;
    --color-white-light: #F9FAFB;
    --color-white: #ffffff;

    --font-*: initial;
    --font-inter: 'Inter Variable', sans-serif;
    --font-roboto: 'Roboto Variable', sans-serif;

    --text-*: initial;
    --text-xs: 0.625rem;
    --text-sm: 1rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 2.25rem;
}

